<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cbo.mapper.CalendarMapper">
  
  
  <insert id="insertWork" parameterType="com.cbo.calendar.model.CalendarDTO">
  insert into calendar values(sq_calendar_id.nextval,0,0,#{title},#{content},#{start_time},#{end_time}+1,sysdate)
  </insert>
  
  
  <resultMap id="calendarMap" type="com.cbo.calendar.model.CalendarDTO">
    <result property="id" column="id"/>
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="start_time" column="start_time"/>
    <result property="end_time" column="end_time"/>
</resultMap>

  <select id="selectList" resultMap="calendarMap">
  select * from calendar 
  </select>
  
  <delete id="deleteWork" parameterType="com.cbo.calendar.model.CalendarDTO">
  delete from calendar where id = #{id}
  </delete>
  
<update id="updateWork" parameterType="com.cbo.calendar.model.CalendarDTO">
  update calendar set start_time = #{start_time}, end_time = #{end_time}+1, title = #{title}, content = #{content} where id = #{id}
  </update>
  
  <update id="saveWork" parameterType="com.cbo.calendar.model.CalendarDTO">
    update calendar
    set start_time = #{start_time},
        end_time = #{end_time}
    where id = #{id}
  </update>
  
  </mapper>




