<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="layouts/approvalLayout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<div layout:fragment="content">
	<h1 th:text="${docContent.title}"></h1>
	<span th:text="${docContent.format_name}"></span>
	<div th:text="${docContent.content}"></div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item" th:each="approver : ${approvers}" th:object="${approver}" th:text="|*{dept_name} *{member_name} *{grade_name} *{status} *{process_date}|"></li>
	</ul>
	<ul class="list-group list-group-flush">
		<li class="list-group-item" th:each="reviewer : ${reviewers}" th:object="${reviewer}" th:text="|*{dept_name} *{member_name} *{grade_name} *{status} *{process_date}|"></li>
	</ul>
	<ul class="list-group list-group-flush" th:object="${docContent}">
		<li class="list-group-item" th:text="*{writer}"></li>
		<li class="list-group-item" th:text="*{write_date}"></li>
		<li class="list-group-item" th:text="*{retention}"></li>
	</ul>
</div>
</body>
</html>