<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="layouts/approvalLayout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<div layout:fragment="content">
	<h1 th:text="${docContent.title}"></h1>
	<span th:text="${docContent.formatName}"></span>
	<div th:text="${docContent.content}"></div>
	<ul class="list-group list-group-numbered">
		<li class="list-group-item" th:each="approver : ${approvers}" th:object="${approver}" th:text="|*{deptName} *{memberName} *{gradeName} *{status} *{processDate}|"></li>
	</ul>
	<ul class="list-group list-group-numbered">
		<li class="list-group-item" th:each="reviewer : ${reviewers}" th:object="${reviewer}" th:text="|*{deptName} *{memberName} *{gradeName} *{status} *{processDate}|"></li>
	</ul>
	<ul class="list-group list-group-numbered">
		<li class="list-group-item" th:text="${docContent.writer}"></li>
		<li class="list-group-item" th:text="${docContent.writeDate}"></li>
		<li class="list-group-item" th:text="${docContent.retention}"></li>
	</ul>
</div>
</body>
</html>