<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="layouts/approvalLayout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>결재 예정 문서</title>
</head>
<body>
<div layout:fragment="content">
	<h1>결재 예정 문서</h1>
	<div
		class="table-responsive"
	>
		<table
			class="table table-primary"
		>
			<thead>
				<tr>
					<th scope="col">문서 번호</th>
					<th scope="col">기안 일자</th>
					<th scope="col">완료 일자</th>
					<th scope="col">결재 양식</th>
					<th scope="col">제목</th>
					<th scope="col">기안자</th>
					<th scope="col">상태</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(scheduledApprovalDocs)}">
					<td colspan="7">문서가 없습니다</td>
				</tr>
				<tr class="" th:each="scheduledApprovalDoc : ${scheduledApprovalDocs}" th:object="${scheduledApprovalDoc}">
					<td scope="row" th:text="*{id}"></td>
					<td scope="row" th:text="*{write_date}"></td>
					<td scope="row" th:text="*{completion}"></td>
					<td scope="row" th:text="*{format_name}"></td>
					<td scope="row"><a th:text="*{title}" th:href="@{docContent(id=*{id})}"></a></td>
					<td scope="row" th:text="*{writer}"></td>
					<td scope="row" th:text="*{status}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</body>
</html>