<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>커뮤니티</title>
<style>

</style>
</head>
<body>
<div style="display: flex;">

    <div style="width: 200px; background-color: #f4eefc; padding: 20px;">
        <h4>커뮤니티</h4>
        <button>커뮤니티 생성</button>
        <ul>
            <li>가입 커뮤니티 1</li>
            <li>가입 커뮤니티 2</li>
            <li>가입 커뮤니티 3</li>
        </ul>
    </div>

    <div style="flex-grow: 1; padding: 20px;">
        <table border="1" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th><a href="communityMainNewest">최근 글</a></th>
                    <th><a href="communityJoinList">가입 커뮤니티</a></th>
                    <th><a href="communityMainAllList">전체 커뮤니티</a></th>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="3">목록</td></tr>
            </tbody>
            <ul>
            <input type="button" value="글쓰기">
            </ul>
</div>
</body>
</html>