<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>삭제 및 수정</title>
</head>
<script>
function deleteWork(){
const form = document.getElementById('Option');
const formData = new FormData(form);

fetch('/api/calendar/deleteWork',
		{
			method:'POST',
			body:formData
		})
		.then (res => res.json())
		.then (result =>{
		
			if(result>0){
				window.close();
				//alert('삭제성공');
				if(window.opener&&!(window.opener.closed)){
					window.opener.refreshCalendar();
				}
			}else{
				//alert('삭제싶래');
			}

		});
}

function updateWork(){

	const form = document.getElementById('Option');
	const formData = new FormData(form);
	
	fetch('/api/calendar/updateWork',
	{
		method:'POST',
		body:formData
	})
	.then(res=>res.json())
	.then(result =>{
		if(result>0){
			window.close();
			if(window.opener&&!(window.opener.closed)){
				window.opener.refreshCalendar();
			}else{
				alert('실패');
			}
		}
		 
	
	})

}

		
</script>
<body>
<form id = "Option">
<input type = "hidden" name = "id" th:value = "${id}">
<label>시작일</label>
<input type = "date" name = "start_time" id = "startDate" max = "2060-01-01" min = "2025-06-18" th:value = "${start_date}"><br>
<label>종료일</label>
<input type = "date" name = "end_time" id = "endDate" max = "2060-01-01" min = "2025-06-18" th:value = "${end_date}"><br>
<label>제목</label>
<input type = "text" name = "title" th:value = "${title}"><br>
<label>내용</label>
<input type = "text" name = "content" th:value = "${content}"><br>
<input type = "button" onclick = "deleteWork()" value = "삭제하기">
<input type = "button" onclick = "updateWork()" value = "수정하기">
</form>




</body>
</html>