<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="layouts/messageLayout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>메시지 내용 보기</title>
<script>

</script>
</head>
<body>
<div layout:fragment="content">
	<form action="sendMessages">
		<div class="d-flex flex-column h-100" th:object="${messageContent}">
			<!-- Button toolbar -->
			<div class="mb-3">
				<nav
					class="nav nav-pills flex-row"
				>
					<button type="submit" class="nav-link active">
						답장
					</button>
					<button type="button" class="nav-link" formaction="deleteMessages" formmethod="post">삭제</button>
				</nav>
			</div>

			<div class="mb-3 row">
				<label for="title" class="col-sm-2 col-form-label">제목</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="title" name="title" th:value="*{title}">
				</div>
			</div>
			<div class="mb-3 row">
				<label for="sender" class="col-sm-2 col-form-label">보낸 사람</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="sender" name="receiver" th:value="|*{sender_dept} *{sender} *{sender_grade}|">
					<input type="hidden" name="receiver_id" th:value="*{sender_id}">
				</div>
			</div>
			<div class="mb-3 row">
				<label for="receiver" class="col-sm-2 col-form-label">받는 사람</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="receiver" th:value="|*{receiver_dept} *{receiver} *{receiver_grade}|">
				</div>
			</div>
			<div class="mb-3 row">
				<span class="col-sm-2">첨부파일</span>
				<div class="col-sm-10">
					<span class="placeholder-wave col-3 placeholder-lg"><a class="text-decoration-none" href="#" th:unless="${#strings.isEmpty(messageContent.file_name)}" th:text="*{file_name}">첨부파일</a></span>
				</div>
			</div>
			
			

			<!-- Doc content -->
			<textarea th:text="*{content}" name="content" readonly rows="19" class="w-100 h-100 form-control-plaintext overflow-y-scroll p-3 border border-primary-subtle rounded-3"></textarea>
			<input type="hidden" name="ref" th:value="*{ref}">
			<input type="hidden" name="lev" th:value="*{lev}"> 
		</div>
	</form>
</div>
</body>
</html>