<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="layouts/messageLayout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>받은 메시지함</title>
</head>
<body>
<div layout:fragment="content">
	<h1>받은 메시지함</h1>
	<div
		class="table-responsive"
	>
		<table
			class="table table-primary text-center"
		>
			<thead>
				<tr>
					<th scope="col"><input type="checkbox"></th>
					<th scope="col" colspan="3" class="p-0">
						<ul
							class="nav nav-tabs"
						>
							<li class="nav-item">
								<a href="#" class="nav-link">읽음</a>
							</li>
							<li class="nav-item disabled">
								<a href="#" class="nav-link">삭제</a>
							</li>
						</ul>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(receivedMessages)}">
					<td colspan="4">메시지가 없습니다</td>
				</tr>
				<tr class="" th:each="receivedMessage : ${receivedMessages}" th:object="${receivedMessage}">
					<td scope="row"><input type="checkbox" name="selectedIds" th:value="*{id}"></td>
					<td scope="row" th:text="*{sender}"></td>
					<td scope="row"><a th:text="*{title}" th:href="@{messageContent(id=*{id})}"></td>
					<td scope="row" th:text="*{write_date}"></td>
				</tr>
				<tr>
					<td colspan="4" th:utext="${pageBar}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
</body>
</html>