<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="layouts/messageLayout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>받은 메시지함</title>
<script th:inline="javascript">
	const curPage = /*[[${curPage}]]*/ 1;
	const pageName = /*[[${pageName}]]*/ '';
</script>
<script th:src="@{/js/message/message-list.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
	<h1>받은 메시지함</h1>
	<div
		class="table-responsive"
	>
		<table
			class="table table-primary text-center"
		>
			<thead>
				<tr>
					<th scope="col"><input type="checkbox" id="checkAll"></th>
					<th scope="col" colspan="3" class="p-0">
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<button type="button" class="nav-link" id="markAsRead">읽음</button>
							</li>
							<li class="nav-item">
								<button type="button" class="nav-link" id="deleteMessages">삭제</button>
							</li>
						</ul>
					</th>
				</tr>
			</thead>
			<tbody id="tableBody" th:fragment="tableBody">
				<tr th:if="${#lists.isEmpty(receivedMessages)}">
					<td colspan="4">메시지가 없습니다</td>
				</tr>
				<tr class="" th:each="receivedMessage : ${receivedMessages}" th:object="${receivedMessage}" th:classappend="*{is_read} == '안 읽음' ? 'fw-bold'">
					<td scope="row"><input type="checkbox" name="selectedIds" th:value="*{id}"></td>
					<td scope="row" th:text="*{sender}"></td>
					<td scope="row"><a class="text-decoration-none" th:text="*{title}" th:href="@{messageContent(id=*{id})}"></td>
					<td scope="row" th:text="*{write_date}"></td>
				</tr>
				<tr>
					<td colspan="4" th:utext="${pageBar}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Flexbox container for aligning the toasts -->
	<div
		aria-live="polite"
		aria-atomic="true"
		class="d-flex justify-content-center align-items-center"
		style="min-height: 200px"
	>
		<!-- Then put toasts within -->
		<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<img src="" class="rounded me-2" alt="{4:Bootstrap}" />
				<strong class="me-auto">{4:Bootstrap}</strong>
				<small>{5:11 mins ago}</small>
				<button
					type="button"
					class="ms-2 mb-1 close"
					data-dismiss="toast"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="toast-body">
				Hello, world! This is a toast message.
			</div>
		</div>
	</div>
	
	
</div>
</body>
</html>