<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="layouts/messageLayout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<div layout:fragment="content">
	<h1>안 읽은 메시지함</h1>
	<div
		class="table-responsive"
	>
		<table
			class="table table-primary"
		>
			<thead>
				<tr>
					<th scope="col"><input type="checkbox"></th>
					<th scope="col">보낸이</th>
					<th scope="col">제목</th>
					<th scope="col">날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(sentMessages)}">
					<td colspan="4">메시지가 없습니다</td>
				</tr>
				<tr class="" th:each="sentMessage : ${sentMessages}" th:object="${sentMessage}">
					<td scope="row"><input type="checkbox" name="selectedIds" th:value="*{id}"></td>
					<td scope="row" th:text="*{receiver}"></td>
					<td scope="row"><a th:text="*{title}" th:href="@{messageContent(id=*{id})}"></td>
					<td scope="row" th:text="*{write_date}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>