@charset "UTF-8";

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header, .footer {
    display: flex;
    align-items: center;
    background-color: #FFC6C6;
}

.header {
    justify-content: space-around;
    height: 80px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 80px;

    font-size: 20px;
}

.header-links > li > a {
    text-decoration: none;
    color: white;
}

.header-a {
    display: flex;
    gap: 24px;
    font-size: 15px;
    color: white;
	font-weight: bolder;
}
.header-a a{ 
	text-decoration: none;
	color: white;
}

.body {
    flex: 1;
}

.footer {
    justify-content: center;
    height: 100px;
    color: #f9faf8;
    font-size: 18px;
}