<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<header th:fragment="defaultHeader">
    <nav class="header">
        <div class="logo"><a href="/">Header Logo</a></div>
        <ul class="header-links">
            <li><a href="#">일정관리</a></li>
            <li><a href="#">메시지</a></li>
            <li><a href="#">주소록</a></li>
            <li><a href="approvalMain">전자결재</a></li>
            <li><a href="#">자료실</a></li>
            <li><a href="#">커뮤니티</a></li>
            <li><a href="#">메신저</a></li>
        </ul>
        <div class="header-buttons">
            <a href>사용자</a> | <a href="memberLogout">로그아웃</a>
        </div>
    </nav>
</header>
</body>
</html>

