<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<aside th:fragment="approval">
        <div class="sidebar">
            <button
                type="button"
                class="btn btn-primary btn-lg"
                data-bs-toggle="modal"
                data-bs-target="#formatModal"
            >
                새 결재 진행
            </button>            
            <div class="sidebar-menu">
                <div>결재하기</div>
                <ul>
                    <li><a href="pendingApprovalDocs">결재 대기 문서</a></li>
                    <li><a href="pendingReferenceDocs">참조 대기 문서</a></li>
                    <li><a href="scheduledApprovalDocs">결재 예정 문서</a></li>
                </ul>
            </div>
            <div class="sidebar-menu">
                <div>문서함</div>
                <ul>
                    <li><a href="approvalDocs">결재 문서함</a></li>
                    <li><a href="referenceDocs">참조 문서함</a></li>
                    <li><a href="draftDocs">기안 문서함</a></li>
                </ul>
            </div>
        </div>
	</aside>

    <aside th:fragment="message">
        <div class="sidebar">
            <button
                type="button"
                class="btn btn-primary btn-lg w-auto"
                onclick=""
            >
                메시지 보내기
            </button>            
            <div class="sidebar-menu">
                <div>메시지함</div>
                <ul>
                    <li><a href="unreadMessages">안 읽은 메시지함</a></li>
                    <li><a href="receivedMessages">받은 메시지함</a></li>
                    <li><a href="sentMessages">보낸 메시지함</a></li>
                </ul>
            </div>
        </div>
	</aside>
</body>
</html>