<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link href="../../static/css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header::defaultHeader"></div>
    <div layout:fragment="content"></div>
    <div th:replace="fragments/footer::defaultFooter"></div>
</body>
</html>